/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$monokai-bg-light};
  --global-code-bg-color: #{$code-bg-color-light};
  --global-text-color: #{$monokai-fg-dark};
  --global-text-color-light: #{$monokai-comment};
  --global-theme-color: #{$monokai-cyan};
  --global-hover-color: #{$monokai-green};
  --global-footer-bg-color: #{$monokai-grey};
  --global-footer-text-color: #{$monokai-fg};
  --global-footer-link-color: #{$monokai-cyan};
  --global-distill-app-color: #{$monokai-comment};
  --global-divider-color: rgba(73,72,62,.3);
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$monokai-bg};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$monokai-fg};
  --global-text-color-light: #{$monokai-comment};
  --global-theme-color: #{$monokai-green};
  --global-hover-color: #{$monokai-cyan};
  --global-footer-bg-color: #{$monokai-grey-light};
  --global-footer-text-color: #{$monokai-fg};
  --global-footer-link-color: #{$monokai-cyan};
  --global-distill-app-color: #{$monokai-comment};
  --global-divider-color: #{$monokai-grey};
  --global-card-bg-color: #{$monokai-grey-light};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}
